{{page-title "My First Ember App"}}

{{! The following component displays Ember's default welcome message. }}
<h1>Hello World ! !! !!!</h1>
<h2>This is Olukunle Amoo</h2>
<h3>I love Ember framework. It makes live easy.</h3>
{{! Feel free to remove this! }}

{{outlet}}